body{
    font-family: "Poppins", sans-serif;
}
.name-color{
    color: rgb(241, 22, 153);
}
.h2-h1{
    font-size: 40px;
    font-weight: 500;
    height: 15px;
}
h1{
    font-size: 60px;
    height: px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}
.half-width img{
    width: 80%;
    position: relative;
    left: 50px;
}
section{
    height: 600px;
    padding-bottom: 150px;
}
p{
    color: gray;
}
a{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(45deg, rgb(241, 22, 153), rgb(241, 22, 153));
    border-radius: 5px;
    font-weight: 700;
}
.first-section{
    background-image: url(images/header-bg.png);
    background-position: cover;
}
.second-section{
    background-image: url(images/biography-bg.png);
    background-position: cover;
}
.position{
    position: relative;
    left: 80px;
    top: 50px;
}
.pic-position{
    position: relative;
    right: 100px;
}
.position2{
    position: relative;
    right: 150px;
    top: 70px;
    width: 30%;
}
.pic-position2{
    position: relative;
    left: 100px;
    bottom: 80px;
}
.h2-p{
    font-size: 40px;
    font-weight: 500;
}
.sec-3-h{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: 100px;
}
.pics img{
    width: 23%;
    padding-left: 2%;
    padding-top: 50px;
}
footer{
    text-align: center;
    font-size: 12px;
    color: gray;
}
.third-section{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
}
#chikichiki{
    height: 500px;
}
.fourth-section{
    background-image: url(images/footer-bg.png);
    background-position: cover;
}
.fourth-section p{
    font-weight: 500;
    color: black;
    text-align: center;
}
#wow{
    color: gray;
    font-size: 12px;
}
.ok{
    background-image: linear-gradient(135deg, rgb(228, 119, 185), rgb(237, 40, 86));
    padding: 40px 50px;
    color: white;
    margin-left: 25%;
    margin-right: 25% ;
    text-align: center;
    border-radius: 15px;
}
#omg{
    font-size: 15px;
    color: white;
    font-weight: 400;
}
#omg2{
    font-size: 30px;
    color: white;
    font-weight: 600;
}
#awww{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 30px;
    text-align: center;
}
#halum{
margin-right: 10%;
}
#vorta{
    margin-left: 180px;
}